article {
  padding: 1rem;
  background-color: #d5d6cd;
}

h2 {
  margin: 0;
  color: #ac1252;
}

p {
  color: #0b0519;
}

time {
  color: #7f7f7f;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ac1252;
  color: #d5d6cd;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
  background-color: #0b0519;
  color: #d5d6cd;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
